.home-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    height: 100vh;
}

.create-task {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    background-color: #1290de;
    width: 50%;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 50px;
}

.create-task:hover {
    color: #c7c7c7;
    background-color: #033b5e;
}

.task-summary {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.p-tasks {
    position: absolute;
    left: 25%;
    color: #269feb;
}

.p-completed {
    position: absolute;
    right: 25%;
    color: #6257f4;
}

.tasks {
    margin-top: 10px;
    width: 50%;
}

.count-bkg {
    color: #ffff;
    background-color: #303030;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 5px;
    padding: 2px 8px 2px 5px;
}

.symbol {
    font-size: 20px;
    padding-bottom: 3px;
}

.no-tasks {
    color: #6b6b6b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-tasks-line {
    border: none;
    border-top: 0.5px solid #6b6b6b; /* Gray color for the line */
    width: 100%; 
    margin: 0 auto 50px auto; /* Center the line and add spacing */
}

.no-tasks-icon {
    color: #6b6b6b;
    height: 75px;
    width: 50px;
    margin: 0px;
}

.no-tasks-text {
    font-size: 13px;
    margin: 7px;
}